# Generated
*.exe
*.dll
*.o
*.a
*.Po
*.obj
*.exp
*.pdb
*.cache

# VisualStudio
*.suo
*.vcxproj.user
*.vcxproj.filters
*.sdf
*.opensdf
*.ipch
*.log
*.tlog

# OS related extra files
Thumbs.db
.DS_Store

